<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MOM.Properties.Settings.MOMConnectionString" connectionString="Data Source=C:\Users\Leon\Dropbox\Window Apps\MOM\MOM\MOM.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>